@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap');
/* font-family: 'Lato', sans-serif; */


@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
/* font-family: 'Playball', cursive; */

/* todo el body y en general (*=todo)*/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    top:150px;
    font-family: 'Lato', sans-serif;
}

/* todo el header (menu fijo superior)*/
header {
    background-color: rgba(150, 230, 203, 1);
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;;
    /* que la posicion sea flotante y el efecto
    recibido sea que el resto (main)
    sube y se mezcla con el encabezado */
    position: fixed;
    top: 0;
    width: 100%;
}

header * {
    display: inline;
    /* ubica el titulo 
    y los li en la misma linea */
}

.logo {
    margin: 20px;
    font-size:40px;
    font-family: 'Playball', cursive;
}

header li {
    /* margin: 0px; */
}

header a {
    text-decoration: none;
    color: rgba(41,38,38,1);
    font-size: 20px;
    /* mostrar el efecto hover sin hacer hover (posicionar el cursor
    sobre la etiqueta a) */
    /* border:rgba(255, 217, 0, 0.603) solid 3px; */
    /* border-radius: 20px; */
    padding: 5px 20px;
    margin-right: 5px;
}


header #homeButton:hover {
    padding: 5px 0px;
    /* margin-right: 10px; */
    background-color: rgba(255, 217, 0, 0.603);
    border-radius: 20px;
}

header #newsButton:hover {
    padding: 5px 0px;
    /* margin-right: 10px; */
    background-color: rgba(238, 11, 208, 0.603);
    border-radius: 20px;
}

/* sumenu */
/* por defecto la posicion es relativa es decir referencia a otros
objetos y sigue un orden, por eso el submenu se acopla al 
menu principal */
.sub-menu {
    /* saca de la linea del menu principal al
    sub menu */
    position: absolute;
    /* el submenu pasa a la linea de abajo del menuprincipal */
    display: flex;
    /* setear en posicion de fila */
    
    flex-direction: column;
    /* left: 12%; */
    left: 170px;
    top: 110%;
    width: 140px;
    /* height: 146%; */
    padding-left: 0;
    border-radius: 20px;
    background-color: rgba(150, 230, 203, 1);
    text-align: center;  
    /* border:0px; */
    display:none;
}

.sub-menuNews {
    /* saca de la linea del menu principal al
    sub menu */
    position: absolute;
    /* el submenu pasa a la linea de abajo del menuprincipal */
    display: flex;
    /* setear en posicion de fila */
    
    flex-direction: column;
    /* hacerlo con pixeles y no con porcentajes porque las distintas
    plataformas reaccionan de diferente manera */
    /* left: 32%; */
    left: 450px;  
    top: 110%;
    width: 160px;
    /* height: 96%; */
    padding-left: 0;
    border-radius: 20px;
    background-color: rgba(150, 230, 203, 1);
    /* border:0px; */
    text-align: center;
    display:none;
}

/* cuando el cursor esta arriba del boton homeButton
entonces sub.menu se muestra con display */
#homeButton:hover .sub-menu {
    display: flex;
}
/* .sub-menu a:hover {
    background-color: rgba(26, 175, 13, 0.603);
    border-radius: 20px;
} */

.sub-menu #sm1:hover {
    background-color: rgb(228, 225, 46);
    border-radius: 20px 20px 0px 0px;
    /* padding: 5px; */
}

.sub-menu #sm2:hover {
    background-color: rgb(167, 197, 33);
    border-radius: 0px;
}

.sub-menu #sm3:hover {
    background-color: rgb(173, 170, 11);
    border-radius: 0px 0px 20px 20px;
}


/* cuando el cursor esta arriba del boton News
entonces sub.menu se muestra con display */
#newsButton:hover .sub-menuNews {
    display: flex;
}
/* .sub-menu a:hover {
    background-color: rgba(26, 175, 13, 0.603);
    border-radius: 20px;
} */

.sub-menuNews #n1:hover {
    background-color: rgb(230, 74, 191);
    border-radius: 20px 20px 0px 0px;
    /* padding: 5px; */
}

.sub-menuNews #n2:hover {
    background-color: rgb(235, 156, 215);
    border-radius: 0px 0px 20px 20px;
}

/* test para el flex */
/* pensar en cajitas */
/* flex en div base */
.flex-test {
    /* seccion */
    height: 250px;
    width: 700px;
    background-color: #3f2305;
    display: flex;

    margin: 0 auto;
    
}

.flex-item {
    /* los tres divs */
    background-color: rgba(248, 248, 248, 0.589);
    /* si anulo el width ocupara tan poco espacio como
    sea suficiente */
    width: 33%;
    /* en cambio si elimino el height ocupará tanto espacio como
    sea suficiente, es decir que el heigt será igual al contenedor  */
    height: 90%;
    /* lo veo todo separado con margin */
    margin: 10px;
    /* ATENTI: funciona cunado flex-direction es row si flex-direction es column entonces
    el comportamiento será al reves (con width y height) */
    /* padding: 30px; */
    /* flex: 1; */
    /* para centrar la imagen con el texto */
    display: flex;
    flex-direction: column;

}

.flex-item h4 {
    font-family: 'Lato', sans-serif; 
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.flex-item p {
    text-align: center;
}

/* flex en div de 1er nivel */
/* .flex-container { */
    /* height: 300px; */
    /* width: 500px; */
    /* background-color: #884e0f;  */
    /* cambia la orientacion vertical a horizontal (display flex) */
    /* display:flex; */
    /* separa en forma horizontal cada caja */
    /* gap: 5px; */
    /* lo veo todo separado con margin */
    /* margin: 10px; */

    /* los flex item no exceden el contenedor y se van achicando, cuando hay muchos y su
    tamaño es mínimo pueden exceder, para evitarlo se utiliza la propiedad wrap
     el valor por defecto es nowrap, de esta forma achica
     el ancho para que quepan en el contenedor*/
    /* flex-wrap: wrap; */

    /* declarar flex: wrap column equivale a las declaradas
    anteriormente*/

    /* WRAP SE UTILIZA PARA EL DISEÑO RESPONSIVO */
    
/* } */



.flex-item img {  
    width: 60%;
    margin-left: 40px;
    margin-top: 10px;
}

/* Resto del contenido en el cuerpo */
main {
    /* coincide con el height del
    header */
    margin-top:100px;
}

.sections {
    /* width: 1000p0x; */
    /* defino ancho desde margen izquierdo */
    width: 1100px;
    /* justifico en ancho definido */
    text-align: justify;

    /* centro el texto en pantalla */
    margin: 0 auto;
}

#special-section {
    /* imagen de fondo en la seccion */
    background-image: url(./assets/img/fotoChica.png);
    /* no se repita */
    background-repeat: no-repeat;
    /* imagen centrada */
    background-position: center;
    /* se expanda la imagen en la seccion */
    background-size: cover;
}

#special-section h2 {
    /* configurar el titulo de la segunda seccion */
    color:rgba(0,0,0,.5);
}

.sections h2 {
    color:rgb(224, 170, 98);
    text-align:center;
}

/* no anda con la fuente elegida */
/* p {
    font-weight: 300;
} */

/* tiempo 1:09:24 */
/* clase 5 */

